@tailwind base;
@tailwind components;
@tailwind utilities;



.player-buttons button {

    width: 90px;
    height: 20px;
    background-color: black;
    border-radius: 5px;
    margin: 5px;
    color: white;
    font-size: 12px;
    

}


table {
    border: 10px;
    border-color: black;
    
}

tr {
    padding: 100px;
}

td .divde {

   background-color: black;
   color: black;
   border: 2px 2px;

}