@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* background-color: #335C81; */
}

.player-buttons button {

    width: 90px;
    height: 20px;
    background-color: #65AFFF;
    border-radius: 5px;
    margin: 5px;
    border:2px solid #1B2845 ;
    color: black;
    font-size: 12px;
    

}



tr {
    padding: 100px;
    
}

.card {
    
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    border: 2px solid black;
    border-radius: 0px;
    

    
    
}


.card-ele {
    
    font-size: 30px;
    color: #335C81;
    
    
    
    

}


.text-slate-500 {
    color: black;
    
    
}


.table-head, tr {
    border: 2px solid black;
    color: black;
}